{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Listado de Eventos</h1>

        <a href="{{ path('app_eventos_nuevo') }}" class="btn btn-secondary">Nuevo Evento</a>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Sala</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for evento in eventos %}
                <tr>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.fecha|date('d-m-Y') }}</td>
                    <td>{{ evento.horaInicio|date('H:i') }}</td>
                    <td>{{ evento.horaFin|date('H:i') }}</td>
                    <td>{{ evento.sala.nombre}}</td>
                    <td>
                        {% set fechaInicio = evento.fecha|date('d-m-Y')~ ' ' ~evento.horaInicio|date('H:i') %}
                        {% set fechaFin = evento.fecha|date('d-m-Y')~ ' ' ~evento.horaFin|date('H:i') %}
                        {% if  fechaInicio >= "now"|date('d-m-Y H:i')%}
                            Proximamente
                        {% elseif   fechaInicio <= "now"|date('d-m-Y H:i')  and fechaFin >= "now"|date('d-m-Y H:i')%}
                            En curso
                        {% else %}
                            Terminado
                        {% endif%}

                    </td>
                    <td>
                        <form action="{{ path('app_eventos_editar', { id: evento.id }) }}" method="GET" style="display:inline;">
                            <button type="submit" class="btn btn-primary btn-sm">Editar</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay eventos registrados.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
